body {
  background-color: rgb(255, 255, 246);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card {
  background-color: white;
  padding: 5px;
  margin-top: 15px;
  float: left;
  text-align: center;
  width: 250px;
  height: 300px;
  padding-bottom: 0px;
  border-radius: 0px 0px 0px 20px;

  position: relative;
  overflow: hidden;
}

.comment-box {
  background-color: white;
  padding: 5px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  float: left;
  /* text-align: center; */
  width: 250px;
  height: 300px;
  padding-bottom: 0px;
  position: relative;
  border-radius: 0px 20px 0px 0px;
  position: relative;
  overflow: hidden;
}

.form-comment {
  position: absolute;
  bottom: 0;
  right: 0px;
  left: -6px;
}
#comment1 {
  width: 150px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.book-comment {
  display: inline-flex;
  margin: 30px;
  background-color: rgba(155, 133, 75, 0.76);
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 15px 50px;
}

#book-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;

  flex-wrap: wrap;
}

/* Aristella's Form Changes */
.form-comment {
  bottom: 0;
}

.commentP {
  text-align: left;
  margin-left: 5px;
}

#likeNum {
  display: inline-block;
}
#likeButton {
  display: inline-block;
  margin-left: 150px;
}
p.commentP {
  font-family: 'Times New Roman', Times, serif;
  line-height: 10px;
}
.book-title {
  font-size: 16px;
  padding: 10px;
}
.book-author {
  font-size: 15px;
}

.book-description {
  font-size: 15px;
  padding: 5px;
  text-align: left;
}
.book-image {
  padding-top: 10px;
  width: 140px;
  height: 180px;
}

.description-container {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  visibility: hidden;
}

.book-card:hover .description-container {
  transform: translateY(0);

  visibility: visible;
}
