body {
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card {
  background-color: white;
  border: solid;
  border-color: black;
  padding: 5px;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  text-align: center;
  width: 250px;
  height: 300px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
}

.comment-box{
  background-color: white;
  border: solid;
  border-color: black;
  padding: 5px;
  margin-top: 30px;
  margin-left: -15px
  margin-right: 10px;
  float: left;
  /* text-align: center; */
  width: 200px;
  height: 300px;
  padding-bottom: 0px;
  position: relative;

  position: relative;
  overflow: hidden;
}

.form-comment{
 position: absolute;
 bottom: 0;
 right: 0px;
 left: -6px;
 
}

#button1{
  height:28px;
}

#comment1{
  width: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  height:22px;
  width: 160px;

}

.book-comment{
  display: inline-flex;
  margin:30px;
}


#book-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;


  flex-wrap: wrap;
}

.form-comment{
  bottom: 0;
}
.commentP{
  text-align: left;
  margin-left: 5px;
}

#likeNum{
  display:inline-block;
  
}
#likeButton{
  display:inline-block;
  margin-left: 150px;
  
}
p.commentP{
  font-family: 'Times New Roman', Times, serif;
  line-height:10px
}



.book-title {
  font-size: 16px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;

}
.book-author {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.book-description {
  font-size: 15px;
  padding: 5px;
  text-align: left;
}
.book-image {
  padding-top: 10px;
  width: auto;
  height: 180px;
}

.description-container {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  visibility: hidden;
}

.book-card:hover .description-container {
  transform: translateY(0);

  visibility: visible;
}
